* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.PageContainer {
  padding-top: 90px;
}

.calculator-phrase > p {
  font-size: 1.8em;
  color: rgb(18, 9, 95);
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.calculator-container {
  max-width: 500px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.display {
  background-color: #858693;
  text-align: right;
  color: #fff;
  height: 50px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 10px 15px 0;
  min-width: 200px;
}

.list-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 50px;
  min-width: 200px;
}

.list-btn-last {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  height: 50px;
  min-width: 200px;
}

.list-btn-item {
  min-width: 50px;
  background-color: #e0e0e0;
  border: thin solid #bababa;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.list-btn-item:hover {
  background-color: rgba(56, 56, 61, 0.575);
  color: #fff;
}

.list-btn-item:active {
  transform: scale(0.85);
  box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
}

.operator {
  background-color: orange;
}

.logo {
  font-size: 2em;
  color: rgb(18, 9, 95);
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#root {
  background-image: url("./images/math-transparent-20.png");
  background-size: 100%;
  background-color: rgb(224, 224, 240);
  background-repeat: no-repeat;
  background-position: right 0 top 50px;
  background-blend-mode: soft-light;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li p {
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(18, 9, 95);
}

.quote-container {
  height: 400px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 30px;
  gap: 40px;
}

.theQuote {
  font-size: 2.4rem;
  font-weight: 600;
  color: rgb(18, 9, 95);
  line-height: 100px;
}

.theAuthor {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(18, 9, 95);
}

.Home {
  padding: 80px;
}

.hometitle {
  color: rgb(18, 9, 95);
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 1.8rem;
}

.text {
  line-height: 25px;
  font-weight: 600;
  color: rgb(18, 9, 95);
  font-size: 1.1rem;
}

.active {
  text-decoration-color: rgb(221, 30, 46);
  text-decoration-style: solid;
}
